@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

[data-theme=light] {
  --text-color: black;
  --background-color: hsl(0, 0%, 98%);
  --input-color: hsl(0, 0%, 52%);
  --elements-background: white;
  --theme-filter: invert(0%) sepia(7%) saturate(6%) hue-rotate(323deg) brightness(100%) contrast(100%);
  --shadow-color: hsl(0, 0%, 78%);
}

[data-theme=dark] {
  --text-color: white;
  --background-color: hsl(207, 26%, 17%);
  --input-color: hsl(0, 0%, 52%);
  --elements-background: hsl(209, 23%, 22%);
  --theme-filter: invert(100%) sepia(75%) saturate(648%) hue-rotate(182deg) brightness(114%) contrast(101%);
  --shadow-color: hsl(207, 26%, 14%);
}

html {
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

.app {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--elements-background);
    padding: 20px;
    box-shadow: 0 0 5px 2px var(--shadow-color);
    margin-bottom: 30px;

    h1 {
      font-size: 16px;
      font-weight: 800;
    }

    .themeSwitch {
      display: flex;
      align-items: center;
      font-size: inherit;
      background-color: inherit;
      font-family: inherit;
      font-weight: inherit;
      border: none;
      color: inherit;

      img {
        width: 14px;
        height: auto;
        margin-right: 5px;
        filter: var(--theme-filter);
      }
    }
  }

  main {
    .countryGrid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;

      .tile {
        background-color: var(--elements-background);
        border: none;
        border-radius: 4px;
        color: inherit;
        width: 300px;
        height: 400px;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 0 10px 5px var(--shadow-color);

        img {
          height: 225px;
          max-width: 300px;
          border-top-left-radius: inherit;
          border-top-right-radius: inherit;
          margin: 0 auto;
        }

        .tileText {
          padding: 20px;
          width: calc(100% - 40px);
          height: 175px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          p {
            text-align: left;
          }

          .boldText {
            font-weight: 600;
          }

          .noSpace {
            padding: 0;
            margin: 3px 0;
          }

          .countryName {
            font-weight: 800;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (min-width: 690px) {
  .app {
    main {
      .countryGrid {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media (min-width: 1050px) {
  .app {
    main {
      .countryGrid {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}

@media (min-width: 1410px) {
  .app {
    main {
      .countryGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}