@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
[data-theme=light] {
  --text-color: black;
  --background-color: hsl(0, 0%, 98%);
  --input-color: hsl(0, 0%, 52%);
  --elements-background: white;
  --hover-color: hsl(0, 0%, 80%);
  --theme-filter: invert(0%) sepia(7%) saturate(6%) hue-rotate(323deg) brightness(100%) contrast(100%);
  --shadow-color: hsl(0, 0%, 78%);
}

[data-theme=dark] {
  --text-color: white;
  --background-color: hsl(207, 26%, 17%);
  --input-color: hsl(0, 0%, 52%);
  --elements-background: hsl(209, 23%, 22%);
  --hover-color: hsl(209, 23%, 30%);
  --theme-filter: invert(100%) sepia(75%) saturate(648%) hue-rotate(182deg) brightness(114%) contrast(101%);
  --shadow-color: hsl(207, 26%, 14%);
}

html {
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.filter {
  filter: var(--theme-filter);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

.app header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--elements-background);
  padding: 20px;
  box-shadow: 0 0 5px 2px var(--shadow-color);
  margin-bottom: 30px;
}
.app header h1 {
  font-size: 16px;
  font-weight: 800;
}
.app header .themeSwitch {
  display: flex;
  align-items: center;
  font-size: inherit;
  background-color: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  color: inherit;
}
.app header .themeSwitch img {
  width: 14px;
  height: auto;
  margin-right: 5px;
  filter: var(--theme-filter);
}
.app header .themeSwitch:hover {
  cursor: pointer;
}
.app main .search {
  background-color: var(--elements-background);
  padding: 10px 0;
  width: 85vw;
  max-width: 450px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 0 5px 1px var(--shadow-color);
}
.app main .search img {
  width: 14px;
  height: auto;
  margin: 0 20px;
}
.app main .search input {
  background-color: inherit;
  border: none;
  color: inherit;
  width: calc(100% - 14px - 45px);
}
.app main .search input:focus {
  outline: none;
}
.app main .search ::placeholder {
  color: var(--text-color);
}
.app main .regionContainer {
  width: 155px;
  margin: 0 auto;
  position: relative;
}
.app main .regionContainer .regionFilter {
  background-color: var(--elements-background);
  color: inherit;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
  margin: 20px auto;
  border-radius: 4px;
  box-shadow: 0 0 5px 1px var(--shadow-color);
  width: 155px;
}
.app main .regionContainer .regionFilter p {
  text-align: left;
  width: 95px;
}
.app main .regionContainer .regionFilter img {
  width: 10px;
  height: auto;
  margin-left: 30px;
}
.app main .regionContainer .regionFilter:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}
.app main .regionContainer .regionOptions {
  background-color: var(--elements-background);
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 0 5px 1px var(--shadow-color);
  padding: 4px 0;
}
.app main .regionContainer .regionOptions .regionChoice {
  background-color: transparent;
  border: none;
  width: 100%;
  color: inherit;
  text-align: left;
  padding: 4px 10px;
  width: 155px;
}
.app main .regionContainer .regionOptions .regionChoice:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}
.app main .regionContainer .hide {
  display: none;
}
.app main .countryGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 30px 0;
}
.app main .countryGrid .tile {
  background-color: var(--elements-background);
  border: none;
  border-radius: 4px;
  color: inherit;
  width: 300px;
  height: 400px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px 5px var(--shadow-color);
}
.app main .countryGrid .tile img {
  height: 225px;
  max-width: 300px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  margin: 0 auto;
}
.app main .countryGrid .tile .tileText {
  padding: 20px;
  width: calc(100% - 40px);
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app main .countryGrid .tile .tileText p {
  text-align: left;
}
.app main .countryGrid .tile .tileText .boldText {
  font-weight: 600;
}
.app main .countryGrid .tile .tileText .noSpace {
  padding: 0;
  margin: 3px 0;
}
.app main .countryGrid .tile .tileText .countryName {
  font-weight: 800;
  font-size: 16px;
}

@media (min-width: 690px) {
  .app main .countryGrid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1050px) {
  .app main .countryGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1410px) {
  .app main .countryGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=index.css.map */
