@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

[data-theme=light] {
  --text-color: black;
  --background-color: hsl(0, 0%, 98%);
  --input-color: hsl(0, 0%, 52%);
  --elements-background: white;
  --hover-color: hsl(0, 0%, 80%);
  --theme-filter: invert(0%) sepia(7%) saturate(6%) hue-rotate(323deg) brightness(100%) contrast(100%);
  --shadow-color: hsl(0, 0%, 78%);
  --box-shadow: 0 0 5px 2px var(--shadow-color);
}

[data-theme=dark] {
  --text-color: white;
  --background-color: hsl(207, 26%, 17%);
  --input-color: hsl(0, 0%, 52%);
  --elements-background: hsl(209, 23%, 22%);
  --hover-color: hsl(209, 23%, 30%);
  --theme-filter: invert(100%) sepia(75%) saturate(648%) hue-rotate(182deg) brightness(114%) contrast(101%);
  --shadow-color: hsl(207, 26%, 14%);
  --box-shadow: 0 0 5px 2px var(--shadow-color);
}

html {
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

.filter {
  filter: var(--theme-filter);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

.app {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--elements-background);
    padding: 20px;
    box-shadow: var(--box-shadow);
    margin-bottom: 30px;

    .logo {
      font-size: 16px;
      font-weight: 800;
    }

    .themeSwitch {
      display: flex;
      align-items: center;
      font-size: inherit;
      background-color: inherit;
      font-family: inherit;
      font-weight: inherit;
      border: none;
      color: inherit;

      img {
        width: 14px;
        height: auto;
        margin-right: 5px;
        filter: var(--theme-filter);
      }
    }

    .themeSwitch:hover {
      cursor: pointer;
    }
  }

  main {
    .search {
      background-color: var(--elements-background);
      padding: 10px 0;
      width: 85vw;
      max-width: 450px;
      display: flex;
      align-items: center;
      margin: 0 auto;
      border-radius: 4px;
      box-shadow: var(--box-shadow);

      @keyframes spin {
        100% {
          transform: rotate(360deg);
        }
      }


      img {
        width: 14px;
        height: auto;
        margin: 0 20px;
      }

      img:hover {
        animation: spin 0.2s;
        cursor: pointer;
      }

      input {
        background-color: inherit;
        border: none;
        color: inherit;
        width: calc(100% - 14px - 45px);
      }

      input:focus {
        outline: none;
      }

      ::placeholder {
        color: var(--text-color);
      }
    }

    .regionContainer {
      width: 155px;
      margin: 0 auto;
      position: relative;
      z-index: 10;

      .regionFilter {
        background-color: var(--elements-background);
        color: inherit;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 10px;
        margin: 20px auto;
        border-radius: 4px;
        box-shadow: var(--box-shadow);
        width: 155px;

        p {
          text-align: left;
          width: 95px;
        }

        img {
          width: 10px;
          height: auto;
          margin-left: 30px;
        }
      }

      .regionFilter:hover {
        cursor: pointer;
        background-color: var(--hover-color);
      }

      .regionOptions {
        background-color: var(--elements-background);
        position: absolute;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        box-shadow: var(--box-shadow);
        padding: 4px 0;

        .regionChoice {
          background-color: transparent;
          border: none;
          width: 100%;
          color: inherit;
          text-align: left;
          padding: 4px 10px;
          width: 155px;
        }

        .regionChoice:hover {
          cursor: pointer;
          background-color: var(--hover-color);
        }
      }

      .hide {
        display: none;
      }
    }

    .countryGrid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
      margin: 30px 0;

      .tile {
        background-color: var(--elements-background);
        border: none;
        border-radius: 4px;
        color: inherit;
        width: 300px;
        height: 400px;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: var(--box-shadow);
        position: relative;

        img {
          height: 225px;
          max-width: 300px;
          border-top-left-radius: inherit;
          border-top-right-radius: inherit;
          margin: 0 auto;
        }

        .tileText {
          padding: 20px;
          width: calc(100% - 40px);
          height: 175px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          p {
            text-align: left;
          }

          .boldText {
            font-weight: 600;
          }

          .noSpace {
            padding: 0;
            margin: 3px 0;
          }

          .countryName {
            font-weight: 800;
            font-size: 16px;
          }
        }

        .psuedoButton {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
          background-color: var(--hover-color);
          border: none;
        }

        .psuedoButton:hover {
          opacity: 0.4;
        }
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      padding: 15px;

      .backButton {
        background-color: var(--elements-background);
        border: none;
        color: inherit;
        display: flex;
        width: 100px;
        align-items: center;
        border-radius: 4px;
        box-shadow: var(--box-shadow);
        margin-bottom: 30px;

        img {
          height: 18px;
          width: auto;
          margin-right: 20px;
          padding: 0 5px;
        }
      }

      .backButton:hover {
        background-color: var(--hover-color);
      }

      .detailsContent {
        display: flex;
        flex-direction: column;
        align-items: center;

        .detailsInfo {
          .detailsText {

            .left,
            .right {
              margin: 5px;
            }
          }
        }

        div .strongText {
          font-weight: 800;
        }

        div .weakText {
          font-weight: 400;
          opacity: 0.85;
        }

        .borderContainer {
          .borderButton {
            background-color: var(--elements-background);
            box-shadow: var(--box-shadow);
            border: none;
            border-radius: 4px;
            padding: 10px;
            margin: 10px;
            color: inherit;
          }

          .borderButton:hover {
            background-color: var(--hover-color);
          }
        }
      }
    }
  }
}

@media (min-width: 690px) {
  .app {
    main {
      .countryGrid {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media (min-width: 1050px) {
  .app {
    main {
      .countryGrid {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .details {
        .detailsContent {
          flex-direction: row;
          justify-content: center;

          .detailsInfo {
            margin-left: 50px;

            .detailsText {
              display: flex;
              flex-direction: row;
              gap: 50px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1410px) {
  .app {
    main {
      .countryGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}